<h1>ARTICLE#NEW</h1>

<%# Need to pass in @user bc its a nested route %>
<%= form_for [@user, @article] do |f| %>
	<%= f.text_field :title, value:"title" %><br />
	<%= f.text_area :text, value:"Write your article here!" %>

	<p>
		<%= f.submit value:"Save Article for later" %> or 
		<%# link_to "Publish", publish_article_path(@article), method: :patch %>
		<%# I think in this case publish might actually have to point
			to some other method in the DB, bc it has to save the form first,
			then publish it. Has to call CREATE, and then after, PUBLISH
		%>
	</p>
<% end %>

<%#
PARTIALS -- think about how to do a partial cause the form on this page and the form for edit art nearly the same... although it might not be in the final version. Maybe draw this stuff out first
%>