<%# WILL need to add something else for routes here... this is ALL articles in DB, not articles associated with a specific user. maybe method index_all_users %>
<h1>ALL USERS</h1>

<ol>

<% @users.each do |user| %>
	<li>NAME: <%= link_to user.name, user_path(user) %>, EMAIL: <%= user.email %></li>

<% end %>

</ol>