<h1><%= @user.name %></h1>
<emphasis><%= @user.email %></emphasis>

<p><%# link_to "Create New Article", new_article_path %></p>

<hr />
<ol>
	<% @articles.each do |article| %>
	    <li>
	      <div><%= link_to article.title, user_article_path(article.user.id, article) %></div>
	    </li>
	<% end %>
</ol>

<%#
link_to "Profiles", profiles_path
%>