<h1><%= @user.name %></h1>
<emphasis><%= @user.email %></emphasis>

<hr />
<ol>
	<% @articles.each do |article| %>
	    <li>
	      <div><%= link_to article.title, article_path %></div>
	    </li>
	<% end %>
</ol>

<%#
> Not sure how to seperate the articles and drafts based on the is_draft db flag T/F
if(is_draft)
	do "in progress" articles DIV
else
	do "published" articles DIV
end


link_to "Profiles", profiles_path
%>