<%# provide(:page, "users#show") %>
<h1><%= @user.name %></h1>
<emphasis><%= @user.email %></emphasis>

<p><%= link_to "Create New Article", new_user_article_path(@user) %></p>

<hr />
<ol>
	<% @articles.each do |article| %>
	    <li>
	      <div><%= link_to article.title, article_path(article) %></div>
	    </li>
	<% end %>
</ol>

<%#
link_to "Profiles", profiles_path
%>