<h1><%= @user.name %></h1>
<emphasis><%= @user.email %></emphasis>

<hr />
<ol>
	<% @articles.each do |article| %>
	    <li>
	      <div><%= article.title %></div> <div><%= article.text %></div>
	    </li>
	<% end %>
</ol>