<div id="wpfront-notification-bar-spacer" style="display:block; top: 0px; height: 33px;"></div>
	<div id="wpfront-notification-bar-open-button" class="top wpfront-bottom-shadow" style="top:0xp; position: fixed; display: none;"></div>
   <div id="wpfront-notification-bar" class="wpfront-fixed" style="top: 0px; height: auto; position: fixed; visibility: visible;"></div>
   	<table border="0" cellspacing="0" cellpadding="0">
   		<tr>
   			<td>
   				<div class="wpfront-message">Publishing site in progress. We are awesome. You too, ladies.></div>
   				<div>
   					<a class="wpfront-button" href="emailto:aaron.augello@gmail.com" target="_self">Contact Us</a>
   				</div>
   			</td>
   		</tr>
   	</tbody>
